@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

* {
	/* border: 1px solid red; */
}

body {
	margin: 0;
	background-color: #f8f8f8;
}

h1.ui.header {
	/* font-size: 3.5rem; */
	font-family: 'Rubik Iso', cursive;
}

.ui.header {
	font-family: 'Figtree', sans-serif;
	color: #47385f;
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
	color: #47385f;
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title:hover {
	color: #159fd2;
}
